<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Vendor</h1>
        <div class="col-md-6 offset-md-3 mb-3">
            <form action="/vendors" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Name</label>
                    <input class="form-control" type="text" id="title" name="vendor[title]" required>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="vendor[location]" required>
                </div>
                <div class="input-group">
                    <span class="input-group-text">Timings</span>
                    <input type="time" class="form-control" name="vendor[timings][start]" required>
                    <span class="input-group-text">-</span>
                    <input type="time" class="form-control" name="vendor[timings][end]" required>
                </div><br>
                <div class="input-group">
                    <span class="input-group-text">Price Range</span>
                    <input type="number" class="form-control" name="vendor[pricing][from]" min="0" placeholder="₹"
                        required>
                    <span class="input-group-text">-</span>
                    <input type="number" class="form-control" name="vendor[pricing][to]" min="0" placeholder="₹"
                        required>
                </div><br>
                <div class="mb-3">
                    <label class="form-label" for="phoneno">Phone number</label>
                    <input class="form-control" type="number" id="phoneno" name="vendor[phoneno]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="vendor[description]"
                        required></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Images</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>
                <div>
                    Locate on Map
                    <div id="pin-map"></div>
                    <input type="hidden" value="Point" name="vendor[geometry][type]" required>
                    <input type="hidden" value=85.81934076715218 id="longitude" name="vendor[geometry][coordinates][0]"
                        required>
                    <input type="hidden" value=20.353703931903937 id="latitude" name="vendor[geometry][coordinates][1]"
                        required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Vendor</button>
                    <a class="btn btn-danger" href="/vendors">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        mapboxgl.accessToken = '<%-process.env.MAPBOX_TOKEN%>';
        const coordinates = document.getElementById('coordinates');
        const map = new mapboxgl.Map({
            container: 'pin-map',
            // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
            style: 'mapbox://styles/mapbox/streets-v12',
            center: [85.81934076715218, 20.353703931903937],
            zoom: 14
        });

        const marker = new mapboxgl.Marker({
            draggable: true
        })
            .setLngLat([85.81934076715218, 20.353703931903937])
            .addTo(map);

        function onDragEnd() {
            const lngLat = marker.getLngLat();
            longitude.value = lngLat.lng;
            latitude.value = lngLat.lat;
        }
        marker.on('dragend', onDragEnd);
    </script>